@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #e4e9f7;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding: 70px 10% 0;
}

.container-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 70px 10% 0;
}

.container-e{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(76,68,182,0.808);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}
.home-sci
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    background: transparent;
    border: 2px solid rgba(76,68,182,0.808);
    border-radius: 50%;
    border-radius: 40px;
    font-size: 16px;
    color:#000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.home-sci:hover{
    color: #ffffff;
    box-shadow: 0 0 20px rgba(76,68,182,0.808);
    background-image: radial-gradient(circle
        farthest-corner at 10% 20%, rgba(255,94,247,1)17.8%,
        rgba(2,245,255,1)100.2%);
}


/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}
.background-clip{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
}
.home-content
{
    max-width: 600px;
    margin-left: 700px;
    margin-top: -440px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
    animation: slideBottom is ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #0ef;
    margin: 3px 0;
    opacity: 1;
    animation: slideRight is ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 1;
    animation: slideLeft is ease forwards;
    animation-delay: 1s;
}
.home-content-T
{
    max-width: 600px;
    margin-left: -60px;
    margin-top: 230px;
}
.home-content-T h3{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
    animation: slideBottom is ease forwards;
    animation-delay: .7s;
}
.home-content-T h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content-T h3 span{
    color: #0ef;
}
.home-content-T h1{
    font-size: 56px;
    font-weight: 700;
    color: #0ef;
    margin: 3px 0;
    opacity: 1;
    animation: slideRight is ease forwards;
    animation-delay: 1s;
}
.home-content-T p{
    font-size: 20px;
    opacity: 1;
    animation: slideLeft is ease forwards;
    animation-delay: 1s;
}
.home-content-A
{
    max-width: 600px;
    margin-left: -60px;
    margin-top: 230px;
}
.home-content-A h3{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
    animation: slideBottom is ease forwards;
    animation-delay: .7s;
}
.home-content-A h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content-A h3 span{
    color: #0ef;
}
.home-content-A h1{
    font-size: 56px;
    font-weight: 700;
    color: #0ef;
    margin: 3px 0;
    opacity: 1;
    animation: slideRight is ease forwards;
    animation-delay: 1s;
}
.home-content-A p{
    font-size: 20px;
    opacity: 1;
    animation: slideLeft is ease forwards;
    animation-delay: 1s;
}


.wrapper {
    display: flex;
}