@charset "utf-8";
/* CSS Document */

body {
    font-family: "Lato", sans-serif;
    background-image: url("../image/teacher.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    color: #ffffff;
	margin: 50px 0 10px 0;
	font-size: 40px;
	text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}
.back-button {
    background-color: #4285f4; /* Google Blue */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #357ae8; /* Slightly darker Google Blue on hover */
}